/* 
-----------------------------------------
| main: #3B3486 | small(title): #FFE9B1 |
| vice: #7743DB | small(text): #FCFDF2  |
-----------------------------------------
*/

:root {
    --nav-background-color: #181818;
    --text-font-color: #ffffff;
    --dark-text-font-color: #181818;
}

:root {
    /* ===== */
    --extreme-big-font-size: 45px;
    --big-font-size: 26px;
    --title-font-size: 24px;
    --text-font-size: 18px;

    /* ===== */
    --box-distances: 25px;
    --small-box-distances: 8px;
    --content-max-width: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-font-color);
}

.active {
    border-bottom: 5px solid #B18CFF;
}

.main-content {
    max-width: var(--content-max-width);
    margin: auto;
    padding: 0 var(--box-distances);
}