/* 
-----------------------------------------
| main: #3B3486 | small(title): #FFE9B1 |
| vice: #7743DB | small(text): #FCFDF2  |
-----------------------------------------
*/

:root {
    --main-background-color: #3B3486;
    --vice-background-color: #7743DB;
    --title-font-color: #FFE9B1;
    --text-font-color: #FCFDF2;
}

:root {
    /* ===== */
    --extreme-big-font-size: 45px;
    --big-font-size: 26px;
    --title-font-size: 24px;
    --text-font-size: 18px;

    /* ===== */
    --box-distances: 24px;
    --small-box-distances: 8px;
    --page-max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}