.nav {
    background-color: var(--nav-background-color);
}

.nav-content {
    padding: 0 var(--box-distances);
    margin: auto;
    max-width: var(--content-max-width);
    height: 90px;
    line-height: 90px;
    color: var(--text-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content-logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-content-menu-item {
    height: 90px;
    font-size: 16px;
    margin-left: 50px;
}

/* === team === */
.team-content {
    margin-top: 80px;
    text-align: center;
    color: var(--dark-text-font-color);
}

.team-content-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-content-summary {
    font-size: 24px;
    margin-bottom: 50px;
}

.team-content-member {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 70px;
}

.team-content-member-item {
    padding: 0 30px;
}

.team-content-member-item-avater {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
}

.team-content-member-item-avater img {
    margin: auto;
    width: 100%
}

.team-content-member-item-username {
    margin: 15px 0 5px 0;
    font-size: 24px;
    font-weight: bold;
}

.team-content-member-item-position {
    margin-bottom: 15px;
    font-size: 18px;
    color: #bcbcbc;
}

.team-content-member-item-bio {
    font-size: 16px;
    color: #7b7b7b;
}

.team-content-join {
    max-width: 800px;
    margin: auto;
    padding: 38px 100px;
    background-color: #F4F4F6;
    border-radius: 8px;
}

.team-content-join-title {
    font-size: 24px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

.team-content-join-summary {
    font-size: 18px;
    color: #181818;
    margin-bottom: 20px;
}

.team-content-join-button {
    padding: 20px 50px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #712EFF;
}