body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2,
h3,
h4 {
    margin: 0;
}

.banner {
    width: 100%;
    /* background-image: linear-gradient(16deg, #21D4FD 0%, #B721FF 100%); */
    background-color: #346dff;
}

.text {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    font-style: italic;
    color: white;
}

.logo {
    font-size: 32px;
}

.info {
    font-size: 18px;
}

.button-more {
    display: inline-block;
    margin-right: 16px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: white;
    transition: all 0.3s;
}

.button-more:hover {
    transform: translateX(6px);
}

.content {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: #505050;
}

.summary {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 16px;
    grid-column-gap: 16px;

}

@media screen and (max-width: 580px) {
    .gallery {
        grid-template-columns: repeat(1, 100%);
    }
}

.gallery-item {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}

.gallery-item-img {
    display: block;
    width: 100%;
    z-index: -1;
    transition: 0.3s;
}

.gallery-item-text {
    position: absolute;
    top: 0;
    right: 98%;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: 0.3s;
    background-color: #346dff;
    box-sizing: border-box;
}

.gallery-item-summary {
    text-align: center;
    font-weight: bold;
    color: white;
}

.gallery-item:hover .gallery-item-text {
    right: 0;
}

.saying {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

@media screen and (max-width: 580px) {
    .saying {
        grid-template-columns: repeat(1, 100%);
    }
}

.saying-item {
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    border-left: 3px solid #346dff;
    color: #252525;
    box-sizing: border-box;
}

.saying-item-time {
    padding-top: 16px;
    font-style: italic;
}