.head{
    background-color: var(--main-background-color);
    padding-bottom: var(--box-distances);
}

.head-content {
    max-width: var(--page-max-width);
    margin: auto;
    padding: 0 var(--box-distances);
}

.menu {
    display: flex;
    justify-content: space-between;
    line-height: 120px;
}

.menu-item {
    float: left;
    margin-left: var(--box-distances);
}

.logo {
    color: var(--title-font-color);
    font-size: var(--extreme-big-font-size);
}

.text {
    margin: var(--box-distances) 0;
}

.title {
    color: var(--title-font-color);
    font-size: var(--title-font-size);
}

/* grid */
.focus {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: var(--small-box-distances) var(--small-box-distances);
}

.focus :first-child {
    grid-row: 1 / 3;
}

/*  */
.join {
    background-color: var(--vice-background-color);
}

.join-content {
    max-width: var(--page-max-width);
    margin: auto;
    padding: var(--box-distances);
    height: 100px;
}

/*  */
.content {
    max-width: var(--page-max-width);
    margin: auto;
    padding: 0 var(--box-distances);
}